<!-- Page Content-->
<div class="page-content">

    <!-- Call to Action -->
    <div class="action-container">
        <p class="title">Hexagon - Your Ultimate Delivery Solution</p>
        <p class="slogan">Where deliveries are convenient and efficient. We are here to make your life easier by delivering what you need when you need it.</p>
    </div>

    <!-- Image background -->
    <div class="image-container">
    
    
    <!-- Buttons for "Request Delivery" and "Request Quotation" -->
    <div class="button-container">
        <!-- Request Delivery function -->
        <a href="request-delivery-quotation" class="action-button">
            <img src="../../../assets/imgs/truck.png" alt="Ship Now">
            <p className="button-text" style="font-weight: bold;">Request Delivery or Quotation<p>
        </a>        
    </div>
    </div>
</div>
