<!-- Page Content-->
<div class="vh-100">
    <div class="container px-4 px-lg-5">
        <!-- Call to Action-->
        <div style="background-color: #afbcdf" class="card text-white my-5 py-4 text-center">
            <div style="font-size: 20px" class="card-body"><p class="text-white m-0"> <br> Hexagon - Your Ultimate Delivery Solution <br> <br> Where deliveries are convenient and efficient. We are here to make your life easier by delivering what you need when you need it.</p></div>
        </div>

        <div class="">
            <!-- <reviews></reviews> --> //To add reviews here later 
        </div>
    </div>
</div>
