.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.mat-flat-button {
  margin: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 0;
  background-color: transparent;

  #save {
    color: #5798d1;
  }
}
