<div class="container">
  <form
    class="example-form"
    [formGroup]="roomForm"
    (ngSubmit)="onFormSubmit(roomForm.value)"
  >
    <h2>Create a chatroom name based on the issue that you are facing</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Room Name</mat-label>
      <input
        matInput
        placeholder="ie: Bi-weekly deliveries not coming"
        formControlName="roomname"
        [errorStateMatcher]="matcher"
      />
      <mat-error>
        <span
          *ngIf="
            !roomForm.controls['roomname'].hasError('required') &&
            roomForm.controls['roomname'].touched
          "
          >Enter room name</span
        >
      </mat-error>
    </mat-form-field>
    <div class="button-row">
      <button type="button" (click)="exitPage()" class="buttons">
        <mat-icon id="exit">logout</mat-icon>
      </button>
      <button type="submit" [disabled]="!roomForm.valid" class="buttons">
        Validate &nbsp;<mat-icon id="save">check_circle</mat-icon>
      </button>
    </div>
  </form>
</div>
