.myFooty{
    bottom: 0;
    width: 100%;
    background-color: transparent !important;
}



.mat-expansion-panel-body {
    padding: 0 !important;
}


// .basic-container{
//     max-width: 500px;
// }