.deliveries-container {
  margin: 0px 31px;
  padding: 0px 12px;
  height: 100%;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  user-select: none;
}
