<div
  *ngFor="let item of deliveryItems"
  class="card rounded-3 mb-4"
  class="card rounded-3 mb-4"
>
  <div class="card-body p-4">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <img
          src="../../../assets/imgs/package.png"
          class="kawaii-icon img-fluid rounded-3"
          alt="Cotton T-shirt"
        />
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <p class="lead fw-normal mb-2">{{ item.Name }}</p>
        <br />
        <p>
          <span class="text-muted">Size: {{ item.Size }}</span>
        </p>
        <p>
          <span class="text-muted">Weight: {{ item.Weight }}</span>
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
        <p>Qty: {{ item.Quantity }}</p>
      </div>
      <div
        class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 d-flex justify-content-between align-items-center"
      >
        <h5 class="mb-0">${{ item.itemPrice }}</h5>
        <button mat-fab color="warn" (click)="deleteItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
