<div class="card">
  <div class="card-body mx-4">
    <div class="container">
      <br /><br />
      <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Order Summary</h2>
      </div>

      <br />
      <div class="row">
        <ul class="list-unstyled">
          <!--<li class="text-black">John Doe</li>-->
          <li class="text-black mt-1">
            Depart Location: {{ deliveryObj.DepartLocation }}
          </li>
          <li class="text-black mt-1">
            Destination: {{ deliveryObj.ArriveLocation }}
          </li>
        </ul>
        <hr />

      </div>
      <!--One Line Item-->
      <div class="row" *ngFor="let item of deliveryObj.items">
        <div class="col-xl-10">
          <p>{{ item.Name }} (Qty: {{ item.Quantity }})</p>
          <!--<p>Consulting (Qty:1)</p>-->
        </div>
        <div class="col-xl-2">
          <p class="float-end">${{ item.itemPrice }}</p>
        </div>
        <hr />
      </div>
      <div>
        <p class="float-end fw-bold">Total: ${{ deliveryObj.Total }}</p>
      </div>

      <div class="modal-footer buttons">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="proceedToPayment()"
        >
          Proceed to Payment
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="saveQuotation()"
        >
          Save Quotation
        </button>
      </div>
    </div>
  </div>
</div>
