
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.review-header{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 20px 20px;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
}

.review-header h1{
    margin: 0;
}

.reviews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
