<style>
    #myDIV {
      text-align: center;
    }
</style>
<!-- Responsive navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="">  Hexagon</a>
        <button (click)=myFunction() class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div id="myDIV" class="collapse navbar-collapse" >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="">Home</a></li>
                <li *ngIf="authService.isLoggedIn" class="nav-item"><a class="nav-link" aria-current="page" href="request-delivery-quotation">Get Delivery</a></li>
                <li *ngIf="authService.isLoggedIn" class="nav-item"><a class="nav-link" aria-current="page" href="request-delivery-quotation">Get Quotation</a></li>
                <li *ngIf="authService.isLoggedIn" class="nav-item"><a class="nav-link" (click)="authService.SignOut()">Log Out</a></li>
            </ul>
          </div>
        </div>
    </nav>