<div style="background-color: #eee;">
<section class="h-100" >
    <div class="container h-100 py-5">
    <h1 class="text-center">Request Delivery or Quotation!</h1>
    <h3 class="text-center">Please fill out the information below to get a quotation or request a delivery</h3>
    <br><br>
     <!--------------------------------------------------------------------------------Delivery Details Card----------------------------------------------------------------------->
        <form [formGroup]="deliveryDetailsForm">
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                      <p class="lead fw-normal mb-2">Delivery Details</p>
                      <br><br>
                      <!---------------------------------Departure Information--------------------------->
                      <h4>Enter departure location information: </h4>
                      <!--Depart Address-->
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Depart Address</mat-label>
                        <input 
                          matInput
                          required
                          ngModel name="departAddress"
                          formControlName="departAddress"
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="
                            deliveryDetailsForm.controls['departAddress'].hasError('required') &&
                            deliveryDetailsForm.controls['departAddress'].touched"
                            >error_outline</mat-icon>
                        <mat-error
                          *ngIf="deliveryDetailsForm.controls['departAddress'].hasError('required')"
                            >Enter depart address</mat-error>
                        </mat-form-field>
                      <!--Depart City-->
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Depart City</mat-label>
                        <input 
                          matInput
                          required
                          ngModel name="departCity"
                          formControlName="departCity"
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="
                            deliveryDetailsForm.controls['departCity'].hasError('required') &&
                            deliveryDetailsForm.controls['departCity'].touched"
                            >error_outline</mat-icon>
                        <mat-error
                          *ngIf="deliveryDetailsForm.controls['departCity'].hasError('required')"
                            >Enter depart city</mat-error>
                        </mat-form-field>

                      <!--Depart Province-->
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Depart Province</mat-label>
                        <input 
                          matInput
                          required
                          ngModel name="departProvince"
                          formControlName="departProvince"
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="
                            deliveryDetailsForm.controls['departProvince'].hasError('required') &&
                            deliveryDetailsForm.controls['departProvince'].touched"
                            >error_outline</mat-icon>
                        <mat-error
                          *ngIf="deliveryDetailsForm.controls['departProvince'].hasError('required')"
                            >Enter depart province</mat-error>
                        </mat-form-field>
                      
                      <!--Depart Postal Code-->
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Depart Postal Code</mat-label>
                        <input 
                          matInput
                          required
                          ngModel name="departPostalCode"
                          formControlName="departPostalCode"
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="
                            deliveryDetailsForm.controls['departPostalCode'].hasError('required') &&
                            deliveryDetailsForm.controls['departPostalCode'].touched"
                            >error_outline</mat-icon>
                        <mat-error
                          *ngIf="deliveryDetailsForm.controls['departPostalCode'].hasError('required')"
                            >Enter depart postal code</mat-error>
                        </mat-form-field>
                      
                      <!---------------------------------Destination Information--------------------------->
                      <h4>Enter destination information: </h4>
                      <!--Destination Address-->
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Destination Address</mat-label>
                        <input 
                          matInput
                          required
                          ngModel name="destinationAddress"
                          formControlName="destinationAddress"
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="
                            deliveryDetailsForm.controls['destinationAddress'].hasError('required') &&
                            deliveryDetailsForm.controls['destinationAddress'].touched"
                            >error_outline</mat-icon>
                        <mat-error
                          *ngIf="deliveryDetailsForm.controls['destinationAddress'].hasError('required')"
                            >Enter destination address</mat-error>
                        </mat-form-field>
                      
                    <!--Destination City-->
                    <mat-form-field appearance="outline">
                      <mat-label>Destination City</mat-label>
                      <input 
                        matInput
                        required
                        ngModel name="destinationCity"
                        formControlName="destinationCity"
                      >
                      <mat-icon
                        matSuffix
                        *ngIf="
                          deliveryDetailsForm.controls['destinationCity'].hasError('required') &&
                          deliveryDetailsForm.controls['destinationCity'].touched"
                          >error_outline</mat-icon>
                      <mat-error
                        *ngIf="deliveryDetailsForm.controls['destinationCity'].hasError('required')"
                          >Enter destination city</mat-error>
                      </mat-form-field>
                    
                    <!--Destination Province-->
                    <mat-form-field appearance="outline">
                      <mat-label>Destination Province</mat-label>
                      <input 
                        matInput
                        required
                        ngModel name="destinationProvince"
                        formControlName="destinationProvince"
                      >
                      <mat-icon
                        matSuffix
                        *ngIf="
                          deliveryDetailsForm.controls['destinationProvince'].hasError('required') &&
                          deliveryDetailsForm.controls['destinationProvince'].touched"
                          >error_outline</mat-icon>
                      <mat-error
                        *ngIf="deliveryDetailsForm.controls['destinationProvince'].hasError('required')"
                          >Enter destination province</mat-error>
                      </mat-form-field>
                      
                      <!--Destination Postal Code-->
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Destination Postal Code</mat-label>
                        <input 
                          matInput
                          required
                          ngModel name="destinationPostalCode"
                          formControlName="destinationPostalCode"
                        >
                        <mat-icon
                          matSuffix
                          *ngIf="
                            deliveryDetailsForm.controls['destinationPostalCode'].hasError('required') &&
                            deliveryDetailsForm.controls['destinationPostalCode'].touched"
                            >error_outline</mat-icon>
                        <mat-error
                          *ngIf="deliveryDetailsForm.controls['destinationPostalCode'].hasError('required')"
                            >Enter destination postal code</mat-error>
                        </mat-form-field>
                </div>
              </div>
            </div>

        </form>

        <!--------------------------------------------------------------------------------Delivery Item Card----------------------------------------------------------------------->
          <app-delivery-item [deliveryItems]="deliveryItems"></app-delivery-item>
        
       <!--------------------------------------------------------------------------------Buttons to Open Dialogs----------------------------------------------------------------------->
       <!--Button to add Item-->
       <div><button type="button" class="kawaiicolors btn btn-primary"  (click)="openAddItemDialog()">Add Item to Delivery</button></div>
       <br>
       <!--Button to get order summary-->
       <div><button type="button" class=" kawaiicolors btn btn-primary" (click)="openOrderDialog()">Finish</button></div>
       <br>

    </div>

  </section>


</div>

