<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
    <h1 class="text-center">Request Delivery!</h1>
    <br><br>
     <!-------------------------------------------------------Delivery Details Card------------------------------------------------>
        <form [formGroup]="deliveryDetailsForm">
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                    
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="lead fw-normal mb-2">Delivery Details</p>
                      <br>
                      <!--Depart Location-->
                          
                      <div class="form-group">
                        <label class="center-block"> Depart Location:
                            <input class="form-control" formControlName="departLocation">
                        </label>
                      </div>
                      <div *ngIf="deliveryDetailsForm.controls['departLocation'].invalid && (deliveryDetailsForm.controls['departLocation'].dirty || deliveryDetailsForm.controls['departLocation'].touched)" class="alert">
                          <div *ngIf="deliveryDetailsForm.controls['departLocation'].errors">
                              Please enter depart location
                          </div>
                      </div>

                      <!--Destination-->
                      
                      <div class="form-group">
                        <label class="center-block"> Destination:
                            <input class="form-control" formControlName="destination">
                        </label>
                      </div>
                      <div *ngIf="deliveryDetailsForm.controls['destination'].invalid && (deliveryDetailsForm.controls['destination'].dirty || deliveryDetailsForm.controls['destination'].touched)" class="alert">
                          <div *ngIf="deliveryDetailsForm.controls['destination'].errors">
                              Please enter destination
                          </div>
                      </div>
                      
                  </div>
                </div>
              </div>
            </div>

        </form>

        <!-------------------------------------------------------Delivery Item Card------------------------------------------------>
        <!--Must put this in an ngFor loop-->
        <app-delivery-item></app-delivery-item>

        <!-------------------------------------------------------Buttons------------------------------------------------>
       <!--Button to add Item-->
       <div><button type="button" class="btn btn-primary" (click)="open(content)">Add Item</button></div>
       <br>
       <!--Button to indicate the user has finished adding item and calculate price-->
       <div><button type="button" class="btn btn-primary" (click)="getPrice()">Finish</button></div>
       <p *ngIf="showMyMessage">Display price!</p>
       <br>
    </div>
  </section>



  <!-------------------------------------------------------Pop-up Form------------------------------------------------>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Item</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <!--Item Name-->
        <div class="form-group">
          <label for="itemName">Item Name</label>
          <div class="input-group">
            <input id="itemName" class="form-control" >
          </div>
        </div>
        <!--Size-->
        <div class="form-group">
          <label for="size">Size</label>
          <div class="input-group">
            <input id="size" class="form-control" >
          </div>
        </div>
        <!--Weight-->
        <div class="form-group">
          <label for="weight">Weight</label>
          <div class="input-group">
            <input id="weight" class="form-control" >
          </div>
        </div>
        <!--Quantity-->
        <!--<div class="form-group">
          <label for="quantity">Quantity</label>
          <div class="input-group">
            <input id="quantity" class="form-control" >
          </div>
        </div>-->
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
