
<form [formGroup]="newDeliveryItem" class="normal-form">
        
        <div class="card-body p-4">
            
            <div class="new-item-form">
                <h2>New Item</h2>
                <!--Description-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Item Name</mat-label>
                    <input 
                    matInput
                    required
                    ngModel name="Name"
                    formControlName="Name"
                    >
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['Name'].hasError('required') &&
                        newDeliveryItem.controls['Name'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['Name'].hasError('required')"
                        >Enter description</mat-error>
                </mat-form-field>
                <br>
                <!--Weight-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Weight</mat-label>
                    <mat-select 
                    matInput
                    required
                    ngModel name="Weight"
                    formControlName="Weight"
                    >
                        <mat-option value="0.1kg - 5kg">0.1kg - 5kg</mat-option>
                        <mat-option value="5kg - 10kg">5kg - 10kg</mat-option>
                        <mat-option value="10kg - 20kg">10kg - 20kg</mat-option>
                        <mat-option value="20kg - 30kg">20kg - 30kg</mat-option>
                    </mat-select>
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['Weight'].hasError('required') &&
                        newDeliveryItem.controls['Weight'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['Weight'].hasError('required')"
                        >Enter weight</mat-error>
                </mat-form-field>
                <br>
                <!--Item Size-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Size</mat-label>
                    <mat-select 
                    matInput
                    required
                    ngModel name="Size"
                    formControlName="Size"
                    >
                        <mat-option value="0.23m X 0.20m X 0.025m">0.23m X 0.20m X 0.025m</mat-option>
                        <mat-option value="0.5m X 0.5m X 0.5m">0.5m X 0.5m X 0.5m</mat-option>
                        <mat-option value="1m X 1m X 1m">1m X 1m X 1m</mat-option>
                        <mat-option value="2m X 2m X 2m">2m X 2m X 2m</mat-option>
                    </mat-select>
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['Size'].hasError('required') &&
                        newDeliveryItem.controls['Size'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['Size'].hasError('required')"
                        >Enter size</mat-error>
                </mat-form-field>
                <br>
                <!--Quantity-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Quantity</mat-label>
                    <input
                    type="number"
                    min="1"
                    matInput
                    required
                    ngModel name="Quantity"
                    formControlName="Quantity"
                    >
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['Quantity'].hasError('required') &&
                        newDeliveryItem.controls['Quantity'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['Quantity'].hasError('required')"
                        >Enter quantity</mat-error>
                </mat-form-field>

                <!--Button-->
                <button class="btn btn-outline-dark" (click)="saveItem()">Save</button>

            </div>
       
    </div>

</form>
  
