
<form [formGroup]="newDeliveryItem" class="normal-form">
        
        <div class="card-body p-4">
            
            <div class="new-item-form">
                <h2>New Item</h2>
                <!--Description-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Item Description</mat-label>
                    <input 
                    matInput
                    required
                    ngModel name="itemDescription"
                    formControlName="itemDescription"
                    >
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['itemDescription'].hasError('required') &&
                        newDeliveryItem.controls['itemDescription'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['itemDescription'].hasError('required')"
                        >Enter description</mat-error>
                </mat-form-field>
                <br>
                <!--Weight-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Weight</mat-label>
                    <mat-select 
                    matInput
                    required
                    ngModel name="itemWeight"
                    formControlName="itemWeight"
                    >
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                        <mat-option>Option 4</mat-option>
                    </mat-select>
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['itemWeight'].hasError('required') &&
                        newDeliveryItem.controls['itemWeight'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['itemWeight'].hasError('required')"
                        >Enter weight</mat-error>
                </mat-form-field>
                <br>
                <!--Item Size-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Size</mat-label>
                    <mat-select 
                    matInput
                    required
                    ngModel name="itemSize"
                    formControlName="itemSize"
                    >
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                        <mat-option>Option 4</mat-option>
                    </mat-select>
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['itemSize'].hasError('required') &&
                        newDeliveryItem.controls['itemSize'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['itemSize'].hasError('required')"
                        >Enter size</mat-error>
                </mat-form-field>
                <br>
                <!--Quantity-->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Quantity</mat-label>
                    <input
                    type="number"
                    min="1"
                    matInput
                    required
                    ngModel name="qty"
                    formControlName="qty"
                    >
                    <mat-icon
                    matSuffix
                    *ngIf="
                        newDeliveryItem.controls['qty'].hasError('required') &&
                        newDeliveryItem.controls['qty'].touched"
                        >error_outline</mat-icon>
                    <mat-error
                    *ngIf="newDeliveryItem.controls['qty'].hasError('required')"
                        >Enter quantity</mat-error>
                </mat-form-field>

                <!--Button-->
                <button class="btn btn-outline-dark" (click)="saveItem()">Save</button>

            </div>
       
    </div>

</form>
  
